<!-- Author : Jay Modi-->
<style>
#target {
  width: 345px;
}
#map-canvas {
  width:600px;
  height: 600px;
  margin: 0px;
  padding: 10px;
  float: left;
}
</style>

<div class="container">
    <div class="raw">
        <div class="col-md-4 start_route">
            <div class="add_new_route"> <button class="btn btn-primary"> Add New Route </div>
            <div class="trip_loop1">
                <h4>Trip Title: </h4>
                <input type="text" class="form-control" name="trip_title" value="" placeholder="Trip Title"/>
                <h4>Trip Date  : </h4>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="route_date" placeholder="Trip date"/>
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
                <h4>Start location : </h4>
                <input class="controls form-control pac-input" type="text" placeholder="Search Box">
                <h4> Nearest Address</h4>
                <input id="address1" class="controls form-control" type="text" placeholder="Nearest address">
                <h4>start location Note:</h4>
                <textarea class="form-control" placeholder="Note for start location" ></textarea>
                <input TYPE="hidden" name="latitude" class="latitude form-control" value="" />
                <input TYPE="hidden" name="longitude" class="longitude form-control" value="" />
                <input type="hidden" name="marker_status" class="form-control" id="info"/>
            </div>

            <style>
            .trip_loopn{margin-top: 10px; margin-bottom:10px;}
            </style>

            <div class="trip_loopn"> <button class="btn btn-primary"> Add New Location </div>

            <div class="trip_loop2">
                <h4>End Location : </h4>
                <input class="controls form-control pac-input" type="text" placeholder="Search Box">
                <h4> End Location Nearest Address</h4>
                <input id="address2" class="controls form-control" type="text" placeholder="Nearest address">
                <h4>End Location Add Note:</h4>
                <textarea class="form-control" placeholder="Note for end location" ></textarea>
                <input TYPE="hidden" name="latitude2" class="latitude form-control" value="" />
                <input TYPE="hidden" name="longitude2" class="longitude form-control" value="" />
                <input type="hidden" name="marker_status" class="form-control" id="info"/>
            </div>
            <div class="trip_loopn"> <button class="btn btn-primary"> Save Route </div>
      </div>

      <div class="col-md-8">
          <div id="map-canvas"></div>
      </div>
  </div>
  </div>


<script type="text/javascript">
    //Added by Jay Modi
    //to load bootstrap datepicker
$(document).ready(function(){

    $('#datetimepicker1').datetimepicker({
        icons: {
    time: "fa fa-clock-o",
    date: "fa fa-calendar",
    up: "fa fa-arrow-up",
    down: "fa fa-arrow-down"
        }
    });

});
</script>
