<!DOCTYPE html>
<html ng-app="thinkster">
<head>
  <title>Gpsstops</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

{#  <div class="header" style="background-color:white">#}
{#  <div class="container"> <a class="site-logo" href="index.html"><img src="img/logo3.png" alt="" style="width:230px;height:80px"></a> <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>#}
{##}
{#    <!-- BEGIN NAVIGATION -->#}
{#    <!--<div class="header-navigation pull-right font-transform-inherit">#}
{#      <ul>#}
{#        <li class="active"><a  href="index.html">Our Offerings</a></li>#}
{#        <li><a href="contact-us.html">Contact Us</a></li>#}
{#      </ul>#}
{#    </div>-->#}
{#    <div class="header-navigation pull-right">#}
{##}
{##}
{#  <form class="form-inline" role="form">#}
{#    <div class="form-group">#}
{##}
{#      <input type="text" class="form-control"  placeholder="User Name">#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <input type="password" class="form-control"  placeholder="Password">#}
{#    </div>#}
{##}
{#    <a href="calender.html" class="btn btn-primary">LOGIN</a>#}
{#	<a href="signup.html" class="btn btn-primary">CREATE ACCOUNT</a>#}
{#  </form>#}
{# <div class="fpwd">Forget User Name/Password?</div>#}
{##}
{#    </div>#}
{#    <!-- END NAVIGATION -->#}
{#  </div>#}
{#</div>#}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>

  {% include 'javascripts.html' %}
</body>
</html>
